<!DOCTYPE html>
<html>
  <head>
    <title>GossipProject</title>

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <style>
    body {
      background-color: #fef555;
    }
  </style>    

  </head>

  <body>
    <%= yield %>

  <!-- Navbar session on -->
    <% if current_user != nil %>
    <div class="bg-dark fixed-top">
      <div class="container-fluid">
        <div class="row">
          <nav class="col navbar navbar-expand-lg navbar-dark bg-info">
            <h4 class="mr-4 mt-2 py-1"><%= link_to "The Gossip Project", root_path, class: "text-light font-weight-bold ml-3" %></h4>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarContent" class="collapse navbar-collapse justify-content-between">
              <ul class="navbar-nav mt-1">
                <li class="nav-item active mr-4 mt-2">
                  <%= link_to "Accueil", root_path, class:"text-light" %>
                </li>
                <li class="nav-item active mr-3 mt-2">
                  <%= link_to "La Team", team_path, class:"text-light" %>
                </li>
                <li class="nav-item dropdown mr-3">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Potins
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Consulter les potins", gossips_path, class:"dropdown-item text-dark" %>
                     <%= link_to "Créer un potin", new_gossip_path, class:"dropdown-item text-dark" %>
                  </div>
                </li>
                <li class="mt-2">
                  <%= link_to "Nous contacter", contact_path, class:"text-light" %>
                </li>
              </ul>

              <h3><%= link_to "Se déconnecter", session_path(session.id), method: :delete, class: "btn btn-danger text-light mt-2 mr-3" %></h3>

            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- Navbar session on-->


    <!-- Navbar session off-->
    <% else %>
    <div class="bg-dark fixed-top">
      <div class="container-fluid">
        <div class="row">
          <nav class="col navbar navbar-expand-lg navbar-dark bg-info">
            <h4 class="mr-4 mt-2 py-1 text-light font-weight-bold ml-3">The Gossip Project</h4>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarContent" class="collapse navbar-collapse justify-content-between">
              <ul class="navbar-nav mt-1">
              </ul>
              <div class="dropdown navbar-nav mt-2 mr-3 d-flex justify-content-end">
                <a class="btn btn-light text-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Connection
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to "S'inscrire", new_user_path, class:"dropdown-item" %>
                  <%= link_to "Se connecter", new_session_path, class:"dropdown-item" %>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <% end %>
    <!-- Navbar -->

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <script>

    // document.body.style.background = "#"+((1<<24)*Math.random()|0).toString(16);
    </script>


  </body>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', async: Rails.env.production?, :cache => 'cached/all' %>

</html>
